<!DOCTYPE HTML>
<html>

<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Cart</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	<!-- style css -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
	<!-- Responsive-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
	<!-- fevicon -->
	<link rel="icon" href="{{ url_for('static', filename='images/fevicon.png')}}" type="image/gif" />
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css')}}">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<!-- owl stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen">
</head>

<body>
	{% include './headers/header.html' %}
	<div class="container">
		<div class="row">
			<div class="col-md-9" >
				{% for row in products %}
				<section class="py-5">
					<div class="border rounded-4 mb-3 d-flex justify-content-center">
						<a data-fslightbox="mygallery" class="rounded-4" target="_blank" style="border-radius: 25px;"
							data-type="image" href="{{url_for('static', filename='uploads/'+row[3])}}">
							<img style="max-width: 100%; max-height: 200px; margin: auto; border-radius: 25px; object-fit: scale-down;"
								class="rounded-4 fit" src="{{url_for('static', filename='uploads/'+row[3])}}" />
						</a>
					</div>
					<div class="ps-lg-3">
						<h4 class="title text-dark"> {{row[1]}}</h4>
						<div class="mb-3">
							<span class="h5">${{row[2]}}</span>
							
						</div>
						<a href="/removeFromCart?productId={{row[0]}}" class="btn btn-danger shadow-0" style="float: right;margin-top: -60px;">Remove from
							cart</a>
						
						<hr />
					</div>
				</section>
				{% endfor %}
			</div>
			<div class="col-md-3">
				<section class="py-5">
					{% for row in products %}
					<div class="d-flex justify-content-between"> 
						<p class="mb-2">{{row[1]}}</p>
						<p class="mb-2">${{row[2]}}</p>
					</div>
					{% endfor %}
					
					<hr id="seperator">
					<div class="d-flex justify-content-between"> 
						<p class="mb-2">Subtotal</p>
						<p class="mb-2">${{subTotal}}</p>
					</div>
					<div class="d-flex justify-content-between"> 
						<p class="mb-2">Shipping</p>
						<p class="mb-2">$1.99</p>
					</div>
					<div class="d-flex justify-content-between"> 
						<p class="mb-2">Total</p>
						<p class="mb-2">${{totalPrice}}</p>
					</div>
					<a class="btn btn-primary btn-block" href="/checkoutForm">
						<div class="d-flex justify-content-between">
						  <span>CHECKOUT</span>
						  <span>${{totalPrice}}</span>
						</div>
					</a>
					
				</section>
			</div>
		</div>
	</div>

	{% include 'footer.html' %}
	<!-- Javascript files-->
	<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/plugin.js')}}"></script>
	<!-- sidebar -->
	<script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/custom.js')}}"></script>
	<!-- javascript -->
	<script src="{{ url_for('static', filename='js/owl.carousel.js')}}"></script>
	<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".fancybox").fancybox({
				openEffect: "none",
				closeEffect: "none"
			});
		})
	</script>

</body>

</html>