<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet'
        href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register-style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<form action='/checkout' method='POST' id = "checkoutForm">
        <div class="form_wrapper">
            <div class="form_container">
                <div class="title_container">
                    <svg class="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        version="1.1" width="150" height="150" viewbox="0 0 640 480" xml:space="preserve">
                    </svg>
					<h1>Checkout</h1>
                </div>
                <div class="row clearfix">
                    <div class="">
                        <form>
                            <label style="position: relative;" aria-disabled="true">Receiver's Name:</label>
							<div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                <input type="text" id="receiverName" name="receiverName" placeholder="John M. Doe" required />
                            </div>
                            <label style="position: relative;" aria-disabled="true">Receiver's Address:</label>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-address-card-o"></i></span>
                                <input type="text" id="receiverAddress" name="receiverAddress" placeholder="542 W. 15th Street" required />
                            </div>
                            <label style="position: relative;" aria-disabled="true">Receiver's Phone:</label>
                            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-phone"></i></span>
                                <input type="text" id="phone" name="phone" placeholder="0987567654" required />
                            </div>
                            
							<input class="button" type="submit" value="Continue to checkout" href="/checkout"/>
                            
                        </form>
                            
                    </div>
                    <div id="footer"><span><a>Go to </a><a href="{{ url_for('cart') }}">Cart</a></span></div>
                </div>
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/plugin.js')}}"></script>
    <script src="{{ url_for('static', filename='js/eye-toggle.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
</body>

</html>