<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<title>Remove</title>
		<link rel="stylesheet" href="{{url_for('static', filename='style/remove.css')}}">
	</link>
</head>
<body>
<table>
	{% for i in range(6) %}
	<tr>
		{% for row in data %}
		<td>
			<a href="/removeItem?productId={{row[0]}}">
			{% if i == 4 %}
				<img src="{{ url_for('static', filename='uploads/' + row[i]) }}" id="itemImage" >
			{% else %}
				{{row[i]}}
			{% endif %}
			</a>
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
</body>
</html>
